
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Text color */
    text-decoration: none;
    margin-right: 20px;
  }

  /* Navbar.css */
.header-title {
    font-size: 24px;
    font-weight: bold;
    color: #fff; /* Text color */
    text-decoration: none;
    margin-right: 20px; /* Adjust the margin to your preference */
  }
  
  
  .header-logo-img {
    width: auto; /* Adjust as needed */
    height: auto;
  }
  
  .header-nav {
    display: flex;
    align-items: center;
  }
  
  .nav-items {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  
  .nav-item {
    margin-right: 20px;
  }
  
  .nav-link {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Text color */
    text-decoration: none;
    transition: color 0.3s; /* Smooth color transition on hover */
  
    /* Hover effect */
    &:hover {
      color: #0099ff; /* Change text color on hover */
    }
  }
  
  .user-info {
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .user-icon {
    width: 30px; /* Adjust as needed */
    height: auto;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .user-username {
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* Text color */
  }
  