
.movietitle {
    margin-top: 100px;
    font-family: graphic-web-regular;
    color: azure;
}

.movie-details-container {
    font-family: graphic-web-regular;
    display: flex;
    align-items: flex-start; /* Align items at the top */
  }
  
  .movie-details-left {
    font-family: graphic-web-regular;
    flex: 1; /* Take up all available horizontal space */
    margin-right: 20px; /* Add spacing between the left and right sections */
  }
  
  .movie-details-right {
    font-family: graphic-web-regular;
    flex: 1; /* Take up all available horizontal space */
    margin-top: 300px; 
  }
  .divider {
    border-top: 1px solid #353550; /* Grey divider line */
    margin: 20px 0; /* Adjust margin as needed */
  }
  .dividercomments {
    padding-bottom: 20px;
    border-top: 1px solid #353550; /* Grey divider line */
    margin: 20px 0; /* Adjust margin as needed */
  }
  /* You can add more styling as needed */
  
.comments-container {
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
  }
  
  /* Comment Item */
  .comment-item {
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: #232429;
  }
  
  .comment-username {
    font-weight: bold;
    color: rgb(211, 211, 211)fff;
  }
  
  .comment-text {
    margin-top: 5px;
    color: #76787c;
  }
  
  /* Add Comment Form */
  .add-comment-form {
    margin-top: 20px;
  }
  
  .add-comment-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .add-comment-button {
    margin-top: 10px;
    background-color: #0074d9;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .add-comment-button:hover {
    background-color: #0056b3;
  }
  