.container {
    background-color: rgb(31, 34, 41);
    max-width: 700px;
}

.movie-cards-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-card {
    align-items: center;
    display: flex; /* 8 columns per row with 20px gap */
    padding: 10px;
    text-align: center;
  }