.container {
    background-color: rgba(31, 34, 41, 0.5);
    max-width: 700px;
}

.movie-cards-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .movie-card {
    align-items: center;
    display: flex; /* 8 columns per row with 20px gap */
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s;
    border: 2px solid transparent; /* Initially transparent border */
    border-radius: 10px;
    overflow: hidden;
  }
  .movie-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7); /* Blue glow effect */
    transform: scale(1.05);
    border: 2px solid #3498db; /* Blue border on hover */
  }