.footer-container {
    position: absolute;
    padding-top: 50px;
    bottom: 0;
    left: -0.01%;
    transform: translate(0%, -50%);
    width: 100%;
    margin: 0 auto;
    background-color: #0d0f13;
    color: white;
    text-align: center;
  }
  
  
  .social-links a {
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .contact-us {
    margin-top: 10px;
  }
  